<ion-header>
    <ion-toolbar color="primary">
        <ion-title position="floating">Home</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
      <ion-button  expand="block" color="tertiary" (click)="contribute()">Contribute</ion-button>
      <ion-button expand="block" color="tertiary" (click)="passbook()">Your Passbook</ion-button>
      <ion-button expand="block" color="tertiary" (click)="expenses()">Expenses</ion-button>
      <ion-button expand="block" color="tertiary" (click)="passbook()">Messages</ion-button>
</ion-content>
